* {
  margin: 0;
  padding: 0;

  background-color: rgb(129, 70, 232);
}


body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.encabezado h1 {
  background-color: rgb(103, 51, 51);
  padding: 10px;
  border-radius: 20px;
  font-size: 40px;
  text-align: center;
  margin: 50px;
}

img {
  width: 200px;
  margin-left: 10px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.sobre-mi {
  font-size: 30px;
  display: flex
}

.sobre-mi p {
  font-size: 20px;
  background-color: rgb(50, 117, 119);
  width: 500px;
  border-radius: 10px;
  padding: 0px;
}

.sobre-mi h3 {
  margin: 20px;
  font-size: 30px;
  background-color: rgb(32, 84, 60);
  border-radius: 10px;
}

.mi-experiencia h3 {
  font-size: 30px;
  text-align: center;
  background-color: rgb(89, 220, 220);
  border-radius: 10px;
  margin-top: 30px;
}

.mi-experiencia p {
  background-color: rgb(172, 145, 96);

  font-size: 20px;
  margin: 10px;
  border-radius: 20px;
  width: 800px;
  padding: 30px;
}

.mis-hobbies h3 {
  font-size: 30px;
  text-align: center;
  background-color: rgb(247, 190, 150);
  border-radius: 40px;
}

.mis-hobbies p {
  background-color: rgb(247, 190, 150);
  font-size: 20px;
  margin: 10px;
  border-radius: 40px;
  width: 500px;
  padding: 20px;
}