* {
  margin: 0;
  padding: 0;


}


body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.encabezado h1 {
  background-color: rgb(103, 51, 51);
  padding: 10px;
  border-radius: 20px;
  font-size: 40px;
  text-align: center;
  margin: 50px;
  box-shadow: 4px 6px 9px -3px rgba(0, 0, 0, 0.75);
}

img {
  width: 200px;
  margin-left: 10px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
}

.sobre-mi {
  font-size: 30px;
  height: 70vh;
  display: flex;
}

.sobre-mi p {
  font-size: 20px;
  background-color: rgb(50, 117, 119);
  width: 900px;
  border-radius: 10px;
  padding: 120px;
  margin-bottom: 550px;
  margin-top: 20px;
}

.sobre-mi h3 {
  margin: 20px;
  font-size: 30px;
  background-color: rgb(32, 84, 60);
  border-radius: 10px;
  padding: 35px;
  margin-bottom: 600px;
  box-shadow: 4px 6px 9px -3px rgba(0, 0, 0, 0.75);
}

.mi-experiencia {
  height: 80vh;
}

.mi-experiencia h3 {
  font-size: 30px;
  text-align: center;
  background-color: rgb(89, 220, 220);
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 4px 6px 9px -3px rgba(0, 0, 0, 0.75);

}

.mi-experiencia p {
  background-color: rgb(172, 145, 96);

  font-size: 20px;
  margin: 10px;
  border-radius: 20px;
  width: 800px;
  padding: 30px;
  margin-left: 300px;
  margin-top: 30px;
}

.mis-hobbies {
  height: 50vh;
}

.mis-hobbies h3 {
  font-size: 30px;
  text-align: center;
  background-color: rgb(247, 190, 150);
  border-radius: 40px;
  box-shadow: 4px 6px 9px -3px rgba(0, 0, 0, 0.75);

}

.mis-hobbies p {
  background-color: rgb(247, 190, 150);
  font-size: 20px;
  margin: 10px;
  border-radius: 40px;
  width: 500px;
  padding: 20px;
  margin-left: 500px;
  margin-top: 30px;
}

.contact {
  height: 15vh;
  background-color: rgba(51, 50, 50, 0.988);
}

.contact button :hover {
  color: red;
  transition: color 1.0s ease;
  width: 10px;
  margin: 50px;

}

.contact img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.contact p {
  margin-left: 15px;
}